$color-primario: #4DA6CD;
$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: 'Rajdhani', sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fuente-principal;
    background-color: rgb(229, 242, 251);
}

h1 {
    font-family: $fuente-secundaria;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 20px;
}

h2 {
    font-family: $fuente-secundaria;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 15px;
}

h3 {
    font-family: $fuente-secundaria;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
}

h4 {
    font-family: $fuente-secundaria;
    font-size: 0.7rem;
    line-height: 2rem;
}

a {
    font-family: $fuente-secundaria;
    ;
    color: aliceblue;
    font-weight: 00;
    font-size: 1rem;
    line-height: 2rem;
}


label {
    display: block;
    float: center;
}

.text_banner {
    color: aliceblue;
}

.img-portada {
    width: 100%;
    object-fit: contain;
}

.contenedor-portada {
    position: relative;
    

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
    }
}