.articulo {
    display: flex;
    align-items: center;

    img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        max-width: 500px;
    }

    text {
        display: flex;
        align-items: center;
    }
}