.navbar-dark{
    background-color: rgb(5, 3, 38) !important;
}
.menu,
.submenu {
    font-size: 0;
    list-style: none;

    li {
        display: inline-block;
        width: 10%;
        position: relative;
        font-size: 2rem;
    }

}

